# Servidor y Autenticación
PORT=3000
JWT_SECRET=cambiar_por_una_cadena_secreta_y_larga

# Base de Datos (Supabase / PostgreSQL)
# DATABASE_URL: URL para la conexión del pooler (ej. Transaction mode)
DATABASE_URL="postgresql://postgres.[ID_PROYECTO]:[PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres"

# DIRECT_URL: URL para la conexión directa a la DB (requerido para migraciones Prisma)
DIRECT_URL="postgresql://postgres.[ID_PROYECTO]:[PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres"

# Inteligencia Artificial (Anthropic)
ANTHROPIC_API_KEY=sk-ant-api03-xxxxxxxxxxxxxxxxxxxx
